:root{
    --primary: #2e522f;
    --primary-light: #4a6f4d;
    --primary-dark: #1c3a1b;

    --secondary: #0068fa;
    --secondary-light: #4d9dff;
    --secondary-dark: #0046c8;

    --background: #ebe8e7;

    --gray: #ececec;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    padding: 20px;
    background-color: var(--primary);
}

.portrait {
    width: 50px;
}

.header h1 {
    font-size: 5em;
    font-family: "Times New Roman", Times, serif;
    text-align: center; 
    color: white;
    position: relative;
    top: 18px;
    left: 10px;
}

.box-header{
    padding: 20px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.logo{
    float: left;
}

.content h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
    text-align: center;
}

.box p {
    margin-bottom: 20px;
    font-size: 1.2em;
}

.STEAMFaire {
    margin-left: 20px;
    padding-left: 20px;
    list-style-type: square;
    margin-bottom: 8px;
}

/*  Border and padding around the content section */
.content { 
    color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.content .box {
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3); 
    font-family: Arial, sans-serif;
    width: 60%;
    margin: 0 auto; 
}
